/*Universal*/

* {
    border: 0;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 980px;
    padding-top: 20px;
}

#gradient {
    background: -webkit-radial-gradient(bottom, ellipse cover, rgba(242, 242, 242, 1) -20%, rgba(209, 209, 209, 1) 100%);
}


/*Header*/

#logo {
    position: relative;
    left: 10%;
    top: 5px;
}

#trial {
    float: right;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: 25px
}


/*Main*/

#title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}

#subtitle {
    font-family: monospace;
    letter-spacing: 6px;
    color: #707070;
    font-size: 20px;
}

.parra {
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    margin-right: 300px
}

#par2 {
    margin-bottom: 20px
}

#signup {
    float: right;
    position: relative;
    right: -10px;
    top: -300px;
    padding: 25px;
    height: 220px;
    margin-left: 20px;
    text-align: center;
    background: whitesmoke;
    border-radius: 10px;
}

#signup>p {
    position: relative;
    text-align: left;
    left: 5px
}

.movem {
    position: relative;
    top: 2px;
    padding: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

#pec {
    padding-left: 17px;
}

#spec {
    display: inline;
}

input {
    border: 1px black solid;
}

button {
    border-radius: 10px;
    border: 1px black solid;
    color: white;
    background: -webkit-linear-gradient(bottom, rgba(41, 154, 11, 1) 0%, rgba(83, 178, 0, 1) 100%);
    width: 200px;
    height: 33px;
}


/*Brands*/

#brands {
    background: darkgray;
}

#postarrow>img {
    position: relative;
    top: -25px;
    left: 460px;
}

#arrow {
    background: -webkit-linear-gradient(top, rgba(242, 245, 246, 1) 0%, rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100%);
    position: relative;
    height: 120px;
    width: 700px;
    color: black;
    -webkit-clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0% 100%, 0 50%, 0% 0%);
    margin-top: -20px;
    margin-bottom: -74px;
    left: -19%;
    overflow: visible;
}

#arrowtext {
    text-align: center;
    padding-left: 30%;
    padding-right: 35%;
    padding-top: 4%;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}


/*Features*/

#features {
    background: -webkit-linear-gradient(-45deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding-bottom: 20px;
}

#ftitle {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 25px;
    font-size: 33px;
}

#left,
#mid,
#right {
    display: table-cell;
    text-align: center;
}

.ico {
    display: inline;
}

.fsubtitle {
    display: inline;
    text-align: center;
    color: white;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    padding: 15px;
}

.fact {
    color: darkgray;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 13px;
    padding: 10px;
}

.win {
    display: table-cell;
    margin-top: 15px;
    margin-left: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#repo {
    margin-top: 14px;
    margin-bottom: 19px;
}

#chart {
    margin-left: 70px;
}

#amahi {
    margin-left: 40px;
}


/*Footer*/

footer {
    background: black;
}

footer>img {
    float: left;
}

.copyright {
    float: right;
    color: darkgray;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}
